@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    font-family: 'Poppins', sans-serif !important;
    background-color: beige;
}

.MuiTypography-body1 {
    font-family: 'Poppins', sans-serif;
}

.MuiButton-root {
    font-family: 'Poppins', sans-serif;
}

.MuiInputBase-root {
    font-family: 'Poppins', sans-serif;
}

.MuiMenuItem-root {
    font-family: 'Poppins', sans-serif;
}

.MuiSelect-select.MuiSelect-select {
    padding-left: 10px;
}

.MuiIconButton-root {
    /* background-color: #ccf7a2a1 !important;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12); */
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-track {
    background-color: rgb(83, 80, 75);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(138, 190, 214);
}

.todo-head {
    text-align: center;
    font-size: 22px;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 0px;
}

.date .MuiIconButton-root {
    background-color: transparent !important;
    box-shadow: none;
}

.MuiPickersDay-day {
    background-color: transparent !important;
    box-shadow: none;
}

.MuiPickersDay-daySelected:hover {
    background-color: #3f51b5 !important;
}

.MuiPickersDay-daySelected {
    background-color: #3f51b5 !important;
}

.MuiPickersCalendarHeader-iconButton {
    background-color: #fff !important;
    box-shadow: none;
}

.MuiCheckbox-root {
    background-color: transparent !important;
    box-shadow: none;
}

@media (max-width: 768px) {
    .MuiIconButton-root {
        padding: 5px !important;
    }
    .MuiListItem-gutters {
        padding: 8px !important;
    }
}